<div class="mensajes">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>
{%if clients|length > 0%}
<table class="table table-striped">
    <thead>
        <tr>
            <th>id en la base de datos</th>
            <th>client_id</th>
            <th>client_secret</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for client in clients%}
            <tr>
                <td>{{client.id}}</td>
                <td>{{client.publicId}}</td>
                <td>{{client.secret}}</td>
                <td>
                    <a href="{{path('oauthClientDetails',{'idClient':client.id})}}">
                        <i class="fa fa-search"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info">No hay clientes creados en el sistema</div>
{% endif %}