{% extends 'dsarhoyaBaseBundle:Admin:index.html.twig'%}
{% block content%}
<div class="mensajes">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>
<div>
    <h1>Detalles del cliente</h1>
    {%if client.allowedGrantTypes|length == 0%}
        <div class="alert alert-info">
            El cliente no tiene grant types!
        </div>
    {%endif%}
    {%if not client.canAccessResources %}
        <div class="alert alert-info">
            Este cliente no tiene "token" como grant type.
        </div>
    {%endif%}
    <table class="table">
        <tbody>
            <tr>
                <th>internal id</th>
                <td>{{client.id}}</td>
            </tr>
            <tr>
                <th>public id</th>
                <td>{{client.publicId}}</td>
            </tr>
            <tr>
                <th>secret</th>
                <td>{{client.secret}}</td>
            </tr>
            <tr>
                <th>Allowed grant types</th>
                <td>
                    {{form_start(grant_types_form)}}
                    {{form_widget(grant_types_form.grant_types)}}
                    {{form_rest(grant_types_form)}}
                    <input type="submit" class="btn btn-primary" value="Actualizar"/>
                </td>
            </tr>
            <tr>
                <th>Limpiar tokens</th>
                <td>
                    <p>Esta acción borra sólo los tokens venidos.</p>
                    <a href="{{path('oauthDeleteExpiredTokens', {'idClient': client.id})}}" class="btn btn-primary">Borrar tokens vencidos</a>
                </td>
            </tr>
            <tr>
                <th>Cambiar secret</th>
                <td>
                    <p>Esta acción borra todos los access tokens asociados al cliente. Después de eso ninguna aplicación podrá conectarse, y deberán negociar un nuevo token con el nuevo secret.</p>
                    <a href="{{path('oauthRefreshClientSecret', {'idClient': client.id})}}" class="btn btn-primary"  onclick="javascript: return confirm('Esto NO se puede deshacer, estás seguro?');">Cambiar</a>
                </td>
            </tr>
            <tr>
                <th>Cliente {{client.disabled ? 'deshabilitado' : 'habilitado'}}</th>
                <td>
                    <p>Al deshabilitar el cliente, los token creados por ese cliente ya no podrán hacer consultas. Sí se podrán generar nuevos tokens.</p>
                    <a href="{{path(client.disabled ? 'oauthEnableClient' : 'oauthDisableClient', {'idClient': client.id})}}" class="btn btn-{{client.disabled ? 'success' : 'danger'}}" >{{client.disabled ? 'Habilitar' : 'Deshabilitar'}}</a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Negociar token:</th>
                <td>{{  app.request.getSchemeAndHttpHost() ~ 
                        app.request.getBaseURL() ~  
                        '/oauth/v2/token?client_id=' ~ client.publicId ~
                        '&client_secret=' ~ client.secret ~
                        '&grant_type=client_credentials'}}</td>
            </tr>
            <tr>
                <th>Refrescar token:</th>
                <td>TODO</td>
            </tr>
            
        </tbody>
    </table>
    
</div>
{% endblock %}