{% extends 'dsarhoyaBaseBundle:Admin:index.html.twig'%}
{% block content%}
<div>
    {% render url('oauthListClients') %}
</div>
<div>
    {{form_start(form)}}
        {{form_row(form.grant_types)}}
        <input type="submit" class="btn btn-primary" value="Crear nuevo cliente"/>
    {{form_rest(form)}}
</div>
{% endblock %}